.home-component {
    width: 500px;
    min-height: 30px;
}

.home-page {
    height: 100%;
}

.flourite-text {
    background: linear-gradient(to right, #b56fff, #6b97ff);
    background-clip: text;
    color: transparent;
}

.flourite-logo {
    width: 300px;
}