.home-component {
    width: 500px;
    min-height: 30px;
}

.home-page {
    height: 100%;
}

.fluorite-text {
    background: linear-gradient(to right, #6b97ff, #b56fff);
    background-clip: text;
    color: transparent;
}

.fluorite-logo {
    width: 300px;
}